<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Register</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="business-type-header">
                <label for="businessType" class="business-type-label">Business Type:</label>

                <select id="businessType" class="switch-button" (change)="toggleForm($event)">
                    <option value="individual">Individual Type Business</option>
                    <option value="company">Company Type Business</option>
                </select>
            </div>
        </div>
        <div class="content">
            <div class="info">
                <div class="form">
                    <h3>Basic Info</h3>
                    <input name="firstname" type="text" placeholder="First Name">
                    <input name="lastname" type="text" placeholder="Last Name">
                    <input name="email" type="email" placeholder="Email">
                    <input name="password" type="password" placeholder="Password">
                    <input name="contact" type="tel" placeholder="Contact">
                    <input name="address" type="text" placeholder="Address">
                </div>
            </div>
            <div *ngIf="businessType === 'individual'" class="form">
                <h3>Business Document</h3>
                <input name="vehiclePlateNumber" type="tel" placeholder="Vehicle Plate Number">
                <div class="file-upload">
                    <label> The front of National Id Card</label>
                    <input type="file" name="nationalIdFront" required>
                </div>
                <div class="file-upload">
                    <label> The back of National Id Card</label>
                    <input type="file" name="nationalIdBack" required>
                </div>
                <div class="file-upload">
                    <label> The photo of BillBook</label>
                    <input type="file" name="BillBook" required>
                </div>
            </div>
            <div *ngIf="businessType === 'company'" class="form">
                <h3>Business Document</h3>
                <input name="businessRegistrationNumber" type="tel" placeholder="Business Registration Number">
                <div class="file-upload">
                    <label> Business Registration Document</label>
                    <input type="file" name="businessRegistrationDoc" required>
                </div>
            </div>
        </div>
        <button type="submit" routerLink="/dashboard"> Submit</button>
    </div>
    <router-outlet></router-outlet>



</body>

</html>