<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User SignUp</title>
</head>

<body>
    <div class="login-container">
        <div class="login-content">
            <div class="leftside">
                <div class="triangle-bg"></div>
                <div class="car-image">
                    <img src="../assets/images/hero.png" alt="Blue car" class="car-image">
                </div>
            </div>
            <div class="form-container">
                <!-- <h2 class="text1">User Mode</h2> -->
                <form>
                    <img src="../assets/images/user_icon3.png" alt="Blue car" class="user_icon" style="width: 100px; height: auto;">
                    <h1>WElCOME</h1>
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="loginObj.email">
                    <input type="password" name="password" placeholder="Password" [(ngModel)]="loginObj.password">
                    <button (click)="onLogin()" class="login">Login</button>
                </form>
                <p>Don't have an account? <a class="sign-up" routerLink="/user-signup">Sign Up</a></p>
            </div>
        </div>
    </div>

</body>

</html>
<router-outlet></router-outlet>