<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="floating-shapes">
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div class="container">
        <div class="header">
            <h2>Individual Type Business</h2>
            <button class="switch-button" routerLink="/company"> Switch </button>
        </div>
        <div class="content">
            <div class="info">
                <div class="form">
                    <h3>Basic Info</h3>
                    <input name="firstname" type="text" placeholder="First Name">
                    <input name="lastname" type="text" placeholder="Last Name">
                    <input name="email" type="email" placeholder="Email">
                    <input name="password" type="password" placeholder="Password">
                    <input name="contact" type="tel" placeholder="Contact">
                    <input name="address" type="text" placeholder="Address">
                </div>
            </div>
            <div class="form">
                <h3>Business Document</h3>
                <input name="driverLicenseNumber" type="tel" placeholder="Driver License Number">
            </div>
            <div class="file-upload">
                <label> The front of National Id Card</label>
                <input type="file" name="nationalIdFront" required>
                <div class="file-name" id="nationalIdFrontName"></div>
            </div>
            <div class="file-upload">
                <label> The back of National Id Card</label>
                <input type="file" name="nationalIdBack" required>
                <div class="file-name" id="nationalIdBackName"></div>
            </div>
            <div class="file-upload">
                <label> The front of Driver's License</label>
                <input type="file" name="driverLicenseFront" required>
                <div class="file-name" id="driverLicenseFrontName"></div>
            </div>
        </div>
        <button type="submit" routerLink="/dashboard"> Next</button>
    </div>
    
</body>
</html>
<router-outlet></router-outlet>
