<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Search Form</title>
</head>

<body>
    <div class="search-container">
        <div class="search-form">
            <!- Vehicle Selection Buttons --
            <div class="vehicle-type">
                <button class="car" [ngClass]="{'selected': selectedVehicle === 'car'}" (click)="selectVehicle('car')">
                    <img src="../assets/images/car.png" alt="Blue car">
                </button>
                <button class="bike" [ngClass]="{'selected': selectedVehicle === 'bike'}"
                    (click)="selectVehicle('bike')">
                    <img src="../assets/images/bike1.png" alt="bike">
                </button>
                <button class="bicycle" [ngClass]="{'selected': selectedVehicle === 'cycle'}"
                    (click)="selectVehicle('cycle')">
                    <img src="../assets/images/cycle.png" alt="cycle">
                </button>
            </div>

             <!- Pickup Location with Autocomplete -
        <div class="form-row">
            <div class="input-group">
                <input type="text" [(ngModel)]="pickupLocation" placeholder="Enter your pickup location" (input)="filterLocation($event, 'pickup')">
                <div *ngIf="pickupFilteredLocations.length > 0" class="suggestions-list">
                    <div *ngFor="let location of pickupFilteredLocations" (click)="selectSuggestion(location, 'pickup')">
                        {{ location }}
                    </div>
                </div>
            </div>
            <input type="date" value="2024-12-11">
            <input type="time" value="12:00">
        </div>

            <div class="form-row">
                <div class="input-group">
                    <input type="text" [(ngModel)]="destinationLocation" placeholder="Enter your destination location" (input)="filterLocation($event, 'destination')">
                    <div *ngIf="destinationFilteredLocations.length > 0" class="suggestions-list">
                        <div *ngFor="let location of destinationFilteredLocations" (click)="selectSuggestion(location, 'destination')">
                            {{ location }}
                        </div>
                    </div>
                </div>
                <input type="date" value="2024-12-12">
                <input type="time" value="12:00">
            </div>
        </div>

        <!- Search Button Centered Below the Search Form -
        <button class="search" routerLink="/businesslist">Search</button>
    </div>

    <router-outlet></router-outlet>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Search Form</title>
</head>

<body>

    <div class="container-fluid search-container">
        <h2 class="text-center mb-4">FIND BEST VEHICLE WITH REVON RENTAL</h2>
        <p class="text-center mb-4">Select your vehicle, enter your pickup and destination locations, and schedule your
            ride easily!</p>


        <!-- Vehicle Selection Buttons -->
        <div class="vehicle-type mb-4">
            <button class="car" [ngClass]="{'selected': selectedVehicle === 'car'}" (click)="selectVehicle('car')">
                <img src="../assets/images/car.png" alt="Blue car">
            </button>
            <button class="bike" [ngClass]="{'selected': selectedVehicle === 'bike'}" (click)="selectVehicle('bike')">
                <img src="../assets/images/bike1.png" alt="bike">
            </button>
            <button class="bicycle" [ngClass]="{'selected': selectedVehicle === 'cycle'}"
                (click)="selectVehicle('cycle')">
                <img src="../assets/images/cycle.png" alt="cycle">
            </button>
        </div>


        <div class="search-form">
            <!-- Pickup Location with Autocomplete -->
            <div class="form-row align-items-center mb-3 position-relative">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="pickupLocation" class="form-control"
                            placeholder="Enter your current location" (input)="filterLocation($event, 'pickup')" id="pickup-input">
                        <div *ngIf="pickupFilteredLocations.length > 0" class="suggestions-list">
                            <div *ngFor="let location of pickupFilteredLocations" class="suggestion-item"
                                (click)="selectSuggestion(location, 'pickup')">
                                {{ location.display_name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="date" value="2024-12-11" class="form-control">
                </div>
                <div class="col-md-3">
                    <input type="time" value="12:00" class="form-control">
                </div>
            </div>

            <!-- Destination Location with Autocomplete -->
            <div class="form-row align-items-center mb-3 position-relative">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="destinationLocation" class="form-control"
                            placeholder="Enter your destination location" (input)="filterLocation($event, 'destination')" id="destination-input">
                        <div *ngIf="destinationFilteredLocations.length > 0" class="suggestions-list">
                            <div *ngFor="let location of destinationFilteredLocations" class="suggestion-item"
                                (click)="selectSuggestion(location, 'destination')">
                                {{ location.display_name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="date" value="2024-12-12" class="form-control">
                </div>
                <div class="col-md-3">
                    <input type="time" value="12:00" class="form-control">
                </div>
            </div>
        </div>

        <!-- Search Button Centered Below the Search Form -->  
        <div class="text-center">
            <button class="search btn btn-primary mt-3" routerLink="/businesslist">
                Search</button>
        </div>
    </div>

       
    <router-outlet></router-outlet>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>