
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">
            <span class="highlight">Flexible</span> Rates<br>
            for Every Journey
          </h1>
          <!-- <button class="sign-up-btn">Sign Up</button> -->
          <a class="sign-up-btn" routerLink="/signUp-mode" >Sign Up</a>
        </div>
      </div>
        <!-- <div class="form-container">
            <form action="">
                <div class="input-box">
                    <span>Location</span>
                    <input type="search" name="" id="" placeholder="Search Places">
                </div>
                <div class="input-box">
                    <span>Pick-Up Date</span>
                    <input type="date" name="" id="">
                </div>
                <div class="input-box">
                    <span>Return Date</span>
                    <input type="date" name="" id="">
                </div>
                <input type="submit" name="" id="" class="btn">
            </form>
    
        </div> -->
        
    
    <!-- Ride -->
     <!-- <section class="ride" id="ride">
        <div class="heading">
            <span>How it work</span>
            <h1>Rent with your own price</h1>

        </div>
        <div class="ride-container">
            <div class="box">
                <i class='bx bxs-map'></i>
                <h2>Choose a Location</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eius dolorum beatae, harum numquam hic.</p>
            </div>

            <div class="box">
                <i class="bx bxs-map"></i>
                <h2>Pick-Up Date</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eius dolorum beatae, harum numquam hic.</p>
            </div>

            <div class="box">
                <i class="bx bxs-map"></i>
                <h2>Book a Car</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eius dolorum beatae, harum numquam hic.</p>
            </div>
        </div>
     </section> -->
    
</body>
</html>
<router-outlet></router-outlet>